<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\AcklenAvenue.Data\packages.config" />
  <repository path="..\src\AcklenAvenue.Data.NHibernate.StructureMap\packages.config" />
  <repository path="..\src\AcklenAvenue.Data.NHibernate\packages.config" />
  <repository path="..\src\AcklenAvenue.DomainEvents.Specs\packages.config" />
  <repository path="..\src\AcklenAvenue.DomainEvents.StructureMap.Specs\packages.config" />
  <repository path="..\src\AcklenAvenue.DomainEvents.StructureMap\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.ExpectedObjects\packages.config" />
</repositories>