<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\BlingBag.NHibernate\packages.config" />
  <repository path="..\src\BlingBag.SampleConsoleApp\packages.config" />
  <repository path="..\src\BlingBag.Specs\packages.config" />
  <repository path="..\src\BlingBag.StructureMap.Specs\packages.config" />
  <repository path="..\src\BlingBag.StructureMap\packages.config" />
</repositories>