<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\DomainEvents.SampleConsoleApp\packages.config" />
  <repository path="..\src\DomainEvents.Specs\packages.config" />
  <repository path="..\src\DomainEvents.StructureMap.Specs\packages.config" />
  <repository path="..\src\DomainEvents.StructureMap\packages.config" />
</repositories>